.success-message[data-reach-dialog-content] {
  padding: 60px 58px;
  background: var(--color-light);
  position: relative;
  width: 43%;
}

.success-message__heading {
  display: block;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  line-height: 31px;
  margin: 0 0 17px 0;
  color: var(--font-color-dark);
}

.success-message__text {
  margin: 0 auto;
  width: 80%;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--grey-light);
}

.success-message__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 25px;
}

@media only screen and (max-width: 767px) {
  .success-message__text {
    margin: 0 0 18px 0;
  }

  .success-message__heading {
    font-size: 18px;
    line-height: 25px;
    margin: 23px 0 14px 0;
  }
}

[data-reach-dialog-overlay] {
  z-index: 9999;
}
