.exchange-history {
  background-color: var(--color-light);
  padding: 40px 70px;
  color: var(--font-color-dark);
  margin-top: 100px;

  &__heading {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  &__col {
    position: relative;
    padding-top: 30px;
  }

  &__item {
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__date {
    margin-right: 40px;
  }

  &__from {
    margin-right: 13px;
  }

  &__to {
    margin-left: 13px;
  }

  &__button {
    font-size: 16px;
    padding: 7px 29px;
    margin-top: 20px;
  }
}
