.input-range {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 7px 0 14px;
  border: 1px solid var(--font-color-dark);
  border-radius: 4px;
}

.input-range__field {
  -moz-appearance: textfield;
  border: none;
  text-align: right;
  margin-left: auto;
  margin-right: 5px;
  width: 50%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input-range__field,
.input-range__text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--font-color-dark);
}

.input-range__text {
  margin-right: auto;
  width: 50%;
}

.input-range__description {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-medium-dark);
  display: flex;
  justify-content: space-between;
}

.input-range__sign {
  margin-top: 8px;
}

[data-reach-slider-input] {
  cursor: pointer;
  margin-left: 7px;
}

[data-reach-slider-handle] {
  background-color: var(--accent-bg-color);
}

@media only screen and (max-width: 1023px) {
  .input-range {
    margin: 8px 0 19px;
  }
}
