.input-range {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px 0 15px;
  border: 1px solid var(--font-color-dark);
  border-radius: 4px;
}

.input-range__field {
  -moz-appearance: textfield;
  border: none;
  text-align: right;
  margin-left: auto;
  margin-right: 5px;
  width: 50%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input-range__field,
.input-range__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--font-color-dark);
}

.input-range__text {
  margin-right: auto;
  width: 50%;
}
