.button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  display: block;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  background-color: var(--accent-bg-color);
  color: var(--color-light);

  &--inverted {
    background-color: var(--color-light);
    color: var(--font-color-dark);
  }
}
