.form {
  display: flex;
  justify-content: space-between;
}

.form__col {
  width: 51.3%;

  &:first-child {
    margin-right: 7rem;
  }
}

.form__heading {
  display: block;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 26px;
  color: var(--font-color-dark);
}

.form__listbox {
  border: 1px solid var(--font-color-dark);
  border-radius: 4px;
}

[data-reach-listbox-button] {
  width: 100%;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 500;
  color: var(--font-color-dark);
}

[data-reach-listbox-arrow][data-expanded] {
  transform: rotate(180deg);
}

[data-reach-listbox-option] {
  padding: 20px 20px;
  &:nth-child(2) {
    border-bottom: 1px solid #c1c2ca;
  }
}

.form__label {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-light);
}

.form__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
  color: var(--color-medium-dark);
}

.form__input {
  margin-bottom: 27px;
}

.form__checkbox {
  margin: 0 8px 0 0;
}

.form__offer {
  background-color: var(--color-light);
  padding: 60px;
}

.form__offer-container {
  display: flex;
  justify-content: space-between;
}

.form__offer-value,
.form__offer-heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: var(--font-color-dark);
}

.form__offer-heading,
.form__offer-description {
  margin: 0 0 31px 0;
}

.form__offer-value {
  margin-bottom: 6px;
}

.form__offer-description {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-light);
}

.form__offer-submit {
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .form {
    flex-direction: column;
  }

  .form__col {
    width: 100%;

    &:first-child {
      margin-right: 0;
    }
  }

  .form__offer {
    margin-top: 36px;
  }

  .form__offer-container {
    justify-content: flex-start;
  }

  .form__offer-col {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .form__offer {
    margin-top: 26px;
    padding: 31px 15px;
  }

  .form__offer-container {
    flex-direction: column;
  }

  .form__offer-heading,
  .form__offer-value {
    font-size: 18px;
    line-height: 25px;
  }

  .form__offer-heading {
    margin: 0 0 26px 0;
  }

  .form__offer-description {
    margin: 0 0 21px 0;
  }

  .form__offer-value {
    margin-bottom: 0;
  }

  .form__offer-submit {
    font-size: 14px;
    line-height: 28px;
  }
}
