.form__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form__fields {
  max-width: 670px;
  flex: 1 0 auto;
  padding-right: 70px;
}

.form__heading {
  display: block;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin: 35px 0 20px 0;
  color: var(--font-color-dark);
}

.form__listbox {
  width: 100%;
  border: 1px solid var(--font-color-dark);
  border-radius: 4px;
}

[data-reach-listbox-button] {
  width: 100%;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 500;
  color: var(--font-color-dark);
}
[data-reach-listbox-button][aria-expanded='true'] {
  margin-bottom: 120px;
}

[data-reach-listbox-arrow][data-expanded] {
  transform: rotate(180deg);
}

[data-reach-listbox-option] {
  padding: 20px 20px;

  &:nth-child(2) {
    border-bottom: 1px solid #c1c2ca;
  }
}

[data-reach-slider-input] {
  margin-left: 7px;
}

[data-reach-slider-handle] {
  background-color: var(--accent-bg-color);
}

.form__label {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-light);
}

.form__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 17px;
  color: var(--color-medium-dark);
}

.form__input {
  margin-bottom: 27px;
}

.form__checkbox {
  margin: 0 8px 0 0;
}

.form__offer {
  background-color: var(--color-light);
  padding: 16px 60px 60px 60px;
  flex: 1 1 auto;
  max-width: 500px;
  margin-top: 45px;
}

.form__offer-container {
  display: flex;
  justify-content: space-between;
}

.form__value {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: var(--font-color-dark);
}

.form__value {
  margin-bottom: 6px;
}

.form__text {
  margin: 0 0 22px 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-light);
}

.form__submit {
  width: 100%;
  margin-top: 8px;
}

@media only screen and (max-width: 1023px) {
  .form {
    display: block;
  }

  .form__fields {
    max-width: 100%;
    padding: 0;
  }

  .form__offer {
    padding: 28px 60px 60px 60px;
    margin-top: 41px;
    max-width: 100%;
  }

  .form__offer-container {
    justify-content: flex-start;
  }

  .form__offer-col {
    margin-right: 61px;
  }

  .form__text {
    margin: -3px 0 25px 0;
  }

  .form__heading {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 25px;

    width: 100%;

    &--offer {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }

  .form__input {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .form__offer {
    margin-top: 26px;
    padding: 11px 15px 40px 15px;
  }

  .form__offer-container {
    flex-direction: column;
  }

  .form__value {
    font-size: 18px;
    line-height: 25px;
  }

  .form__text {
    margin: 0 0 18px 0;
  }

  .form__value {
    margin-bottom: 0;
  }

  .form__submit {
    font-size: 14px;
  }

  .form__heading {
    font-size: 18px;
    line-height: 25px;
    margin: 23px 0 14px 0;
  }

  .form__row {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
