.form__col {
  width: 51.3%;
}

.form__heading {
  display: block;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 26px;
  color: var(--font-color-dark);
}

.form__listbox {
  border: 1px solid var(--font-color-dark);
  border-radius: 4px;
}

[data-reach-listbox-button] {
  width: 100%;
  outline: none;
  border: none;
  padding: 20px;
  font-weight: 500;
  color: var(--font-color-dark);
}

[data-reach-listbox-arrow][data-expanded] {
  transform: rotate(180deg);
}

[data-reach-listbox-option] {
  padding: 20px 20px;
  &:nth-child(2) {
    border-bottom: 1px solid #c1c2ca;
  }
}

.form__label {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-light);
}

.form__description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
  color: var(--color-medium-dark);
}
