.hero {
  background-color: var(--accent-bg-color);
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(32, 39, 179, 0) 36.31%, #2027b3 99.79%),
    linear-gradient(180deg, rgba(56, 65, 255, 0) 66.3%, #3841ff 97.14%),
    linear-gradient(180deg, rgba(56, 65, 255, 0) 27.26%, #3841ff 97.14%),
    linear-gradient(180deg, rgba(32, 39, 179, 0) 32.89%, #2027b3 99.79%);
  background-size: 12% 100%, 12% 269px, 21% 269px, 19% 100%;
  background-position: 0 0, 12% 100%, 76% 100%, 100% 100%;

  &__wrapper {
    padding: 110px 0 114px 180px;
    position: relative;
    background-image: url('../../img/black-card.png'), url('../../img/white-card.png');
    background-position: 639px 138px, 748px 80px;
    background-repeat: no-repeat;
  }

  &__heading {
    font-size: 54px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 13px 0;
    color: var(--color-light);
  }

  &__moto {
    font-size: 22px;
    color: var(--color-light-secondary);
    margin-bottom: 35px;
  }

  &__button {
    font-size: 18px;
    padding: 9px 36px;
  }
}
