.hero__slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;

  &--1 {
    background-color: var(--accent-bg-color);
    background-image: linear-gradient(180deg, rgba(32, 39, 179, 0) 36.31%, #2027b3 99.79%),
      linear-gradient(180deg, rgba(56, 65, 255, 0) 66.3%, #3841ff 97.14%),
      linear-gradient(180deg, rgba(56, 65, 255, 0) 27.26%, #3841ff 97.14%),
      linear-gradient(180deg, rgba(32, 39, 179, 0) 32.89%, #2027b3 99.79%);
    background-size: 12% 100%, 12% 269px, 21% 269px, 19% 100%;
    background-position: 0 0, 12% 100%, 76% 100%, 100% 100%;
  }

  &--2 {
    background-image: url('../../img/slider-2.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/slider-2@2x.jpg');
    }
  }

  &--3 {
    background-image: url('../../img/slider-3.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/slider-3@2x.jpg');
    }
  }
}

.hero__wrapper {
  padding: 110px 0 114px 180px;

  &--main {
    position: relative;
    background-image: url('../../img/black-card.png'), url('../../img/white-card.png');
    background-position: 639px 138px, 748px 80px;
    background-repeat: no-repeat;
    background-size: 335px 228px;

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/black-card@2x.png'), url('../../img/white-card@2x.png');
    }
  }

  &--no-button {
    padding: 110px 0 168px 180px;
  }
}

.hero__heading {
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 13px 0;
  color: var(--color-light);

  &--inverted {
    color: var(--font-color-dark);
  }
}

.hero__moto {
  font-size: 22px;
  color: var(--color-light-secondary);
  margin-bottom: 35px;

  &--inverted {
    color: var(--font-color-dark);
  }
}

.hero__button {
  font-size: 18px;
  padding: 9px 36px;
  min-width: 24.3rem;
}

@media only screen and (max-width: 1023px) {
  .hero__wrapper {
    padding: 60px 0 70px 60px;

    &--no-button {
      padding: 62px 0 121px 62px;
    }

    .hero__heading {
      font-size: 46px;
      line-height: 54px;
      font-weight: 700;
      margin: 0 0 7px 0;
    }

    .hero__moto {
      font-size: 18px;
      line-height: 21px;
    }

    .hero__button {
      font-size: 16px;
      padding: 9px 36px;
    }
  }
}
