.hero {
  overflow: hidden;
}

.hero__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  height: 100%;

  &--loan {
    background-color: var(--accent-bg-color);
    background-image: linear-gradient(180deg, rgba(32, 39, 179, 0) 36.31%, #2027b3 99.79%),
      linear-gradient(180deg, rgba(56, 65, 255, 0) 66.3%, #3841ff 97.14%),
      linear-gradient(180deg, rgba(56, 65, 255, 0) 27.26%, #3841ff 97.14%),
      linear-gradient(180deg, rgba(32, 39, 179, 0) 32.89%, #2027b3 99.79%);
    background-size: 12% 100%, 12% 269px, 21% 269px, 19% 100%;
    background-position: 0 0, 12% 100%, 76% 100%, 100% 100%;
  }

  &--security {
    background-image: url('../../img/slider-2.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/slider-2@2x.jpg');
    }
  }

  &--find {
    background-image: url('../../img/slider-3.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/slider-3@2x.jpg');
    }
  }
}

.hero__slide-container {
  padding: 110px 0 114px 180px;

  &--main {
    position: relative;
    background-image: url('../../img/black-card.png'), url('../../img/white-card.png');
    background-position: 619px 121px, 728px 64px;
    background-repeat: no-repeat;
    background-size: 335px 228px;

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/black-card@2x.png'), url('../../img/white-card@2x.png');
    }
  }

  &--no-button {
    padding: 110px 0 168px 180px;
  }
}

.hero__heading {
  margin: -6px 0px 9px 5px;
}

.hero__moto {
  font-size: 22px;
  color: var(--color-light-secondary);
  margin-bottom: 30px;

  &--inverted {
    color: var(--font-color-dark);
  }
}

.hero__button {
  font-size: 18px;
  padding: 9px 36px;
  min-width: 24.3rem;
}

.slick-dots li {
  bottom: 50px;
  margin-right: 0;
  margin-left: 0;
  width: 16px;
}

@media only screen and (max-width: 1023px) {
  .hero__slide {
    &--find {
      background-position-x: 51%;
    }

    &--security {
      background-position-x: 62%;
    }
  }
  .hero__slide-container {
    padding: 66px 0 78px 57px;

    &--no-button {
      padding: 62px 0 121px 62px;
    }

    &--main {
      background-size: 260px 175px;
      background-position: 325px 88px, 410px 45px;
    }
  }

  .hero__heading {
    margin: 0 0 6px 0;
  }

  .hero__moto {
    font-size: 18px;
    line-height: 21px;
  }

  .hero__button {
    font-size: 16px;
    padding: 6px 27px;
    min-width: 20.6rem;
  }

  .slick-dots li {
    bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    height: 228px; //check if ok solution
  }
  .hero__slide {
    &--security {
      background-position: 65% 50%;
    }

    &--find {
      background-position: 63% 50%;
    }
  }

  .hero__slide-container {
    padding: 44px 0 65px 16px;

    &--main {
      background-position: 220px 32px, 448px 34px;
      background-size: 249px 171px;
    }

    &--no-button {
      padding: 40px 0 80px 15px;
    }
  }

  .hero__moto {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
    max-width: 20rem;
  }

  .hero__button {
    font-size: 14px;
    min-width: 18.8rem;
    padding: 3px 20px;
  }

  .slick-dots li {
    bottom: 18px;
    width: 11px;
  }
}

.hero__slider-dots {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--blue-dark);

  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-light);
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}

.slick-dots .slick-active .hero__slider-dots,
.slick-dots .slick-active .hero__slider-dots:hover,
.slick-dots .slick-active .hero__slider-dots:focus,
.slick-dots .slick-active .hero__slider-dots:active {
  background-color: var(--color-light);
}

.slick-slider {
  height: 100%;
}
