.calculator {
  margin-bottom: 102px;
}

.calculator__heading {
  margin: 93px 0 12px 0;
}

@media only screen and (max-width: 1023px) {
  .calculator {
    margin-bottom: 16px;
  }
  .calculator__heading {
    margin: 69px 0 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .calculator__heading {
    margin: 55px 0 0 0;
  }
}
