.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 9px;
}

.logo__text-wrapper {
  display: flex;
  flex-direction: column;
}

.logo__moto {
  font-size: 12px;
  line-height: 14px;
  color: var(--font-color-dark);
}

@media only screen and (max-width: 1023px) {
  .logo__icon {
    margin-right: 9px;
  }
}

@media only screen and (max-width: 767px) {
  .logo__text {
    margin-right: auto;
  }
}
