.heading {
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  color: var(--font-color-dark);

  &--secondary {
    font-size: 41px;
    line-height: 57px;
    margin: 100px 0 60px 0;
    color: var(--font-color-dark);
  }

  &--inverted {
    color: var(--color-light);
  }
}

@media only screen and (max-width: 1023px) {
  .heading {
    font-size: 46px;
    line-height: 54px;

    &--secondary {
      font-size: 32px;
      line-height: 140%;
      margin: 73px 0 39px 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .heading {
    font-size: 38px;
    line-height: 45px;

    &--secondary {
      font-size: 22px;
      line-height: 31px;
      margin: 55px 0 30px 0;
    }
  }
}
