.header {
  padding: 32px 0;
  background-color: var(--color-light);
}

.header__logo {
  align-self: flex-start;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__login-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  margin-left: 10px;
  background-color: inherit;
  border: none;
  color: var(--font-color-dark);

  &:hover {
    color: var(--accent-bg-color);
  }
}

.header__login-link svg {
  fill: var(--font-color-dark);
  width: 22px;
  height: 22px;

  &:hover {
    fill: var(--accent-bg-color); //not working
  }
}

.header__burger {
  display: none;
}

.header__login-text {
  margin-left: 10px;
}

.header__navigation-close {
  background-color: inherit;
  border: none;
  display: none;
  position: absolute;
  top: 6px;
  right: 16px;
  padding: 0;
}

@media only screen and (max-width: 1023px) {
  .header {
    padding: 25px 0 20px 0;
  }

  .header__login-text {
    display: none;
  }

  .header__login-icon {
    width: 20px;
    height: 20px;
  }

  .header__login-link {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 13px 0 13px 0;

    &--full-screen {
      min-height: 100vh;

      & ~ * {
        display: none;
      }
    }
  }

  .header__logo {
    flex-basis: 70%;
  }

  .header__burger {
    display: block;
    margin-right: 14px;
    fill: #1f1e25;
  }

  .header__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
  }

  .header__login-link {
    margin-left: auto;
    padding: 0;
  }

  .header__login-icon {
    margin-right: 0;
    width: 16px;
    height: 16px;
  }

  .header__navigation--open {
    overflow: hidden;
    width: 100%;
  }

  .header__navigation-close {
    display: block;
  }
}
