.footer {
  padding: 50px 0 50px 0;
  margin-top: 110px;
  background-color: var(--color-light);
}

.footer__logo {
  margin-bottom: 18px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  max-width: 252px;
  margin-right: 16px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer__phone {
  max-width: 229px;
  margin: 4px 11px;
  display: flex;

  &:last-of-type {
    padding-left: 21px;
  }
}

.footer__phone-icon {
  margin-right: 19px;
  flex: 0 0 auto;
}

.footer__text {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-medium-dark);
  margin: -8px 0 0 0;

  &--phone {
    margin-top: 5px;
  }
}

.footer__phone-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--font-color-dark);
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 16px;
}

.footer__socials-item:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 1023px) {
  .footer {
    margin-top: 80px;
  }

  .footer__wrapper {
    justify-content: flex-start;
  }

  .footer__contacts {
    display: block;
  }

  .footer__phone {
    margin-bottom: 21px;
  }

  .footer__logo {
    margin-bottom: 26px;
  }

  .footer__address {
    margin-right: 89px;
  }

  .footer__text {
    &--copyright {
      margin: 24px 0 0 0;
    }
  }

  .footer__phone:last-of-type {
    padding-left: 0;
  }

  .footer__socials-list {
    margin: 20px 0 0 14px;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 60px;
    padding: 30px 0 50px 0;
  }
  .footer__wrapper {
    display: block;
  }

  .footer__text--copyright {
    display: none;
  }

  .footer__text--phone {
    margin-top: -1px;
  }

  .footer__phone {
    margin: 21px 0 -8px;
    max-width: 200px;
  }

  .footer__socials-list {
    margin: 30px 0 0;
  }

  .footer__logo {
    margin-bottom: 18px;
  }
}
