.converter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;

  &__arrow {
    margin-bottom: 12px;
  }

  &__calendar {
    justify-self: flex-start;
    margin-top: 85px;
  }

  &__button {
    min-width: 390px;
  }
}
