.converter {
  &__heading {
    font-size: 41px;
    font-weight: 700;
    color: var(--font-color-dark);
    margin: 55px 0 65px 0;
  }

  &__form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #000000;
  }

  &__arrow {
    margin-bottom: 12px;
  }

  &__calendar {
    justify-self: flex-start;
    margin-top: 85px;
  }

  &__button {
    min-width: 390px;
  }
}
