.map__area {
  width: 100%;
  height: 46.2rem;
}

.map__heading {
  margin: -7px 0 60px 0;
}

@media only screen and (max-width: 1023px) {
  .map__heading {
    margin: 68px 0 36px 0;
  }
}

@media only screen and (max-width: 767px) {
  .map__area {
    padding: 0 16px;
    height: 381px;
  }

  .map__heading {
    margin: 54px 0 28px 0;
  }
}
