.map {
  width: 100%;
  height: 46.2rem;
  margin-bottom: 110px;
}

.map__heading {
  margin: -7px 0 60px 0;
}

@media only screen and (max-width: 1023px) {
  .map {
    margin-bottom: 80px;
  }

  .map__heading {
    margin: 68px 0 36px 0;
  }
}

@media only screen and (max-width: 767px) {
  .map__container {
    padding: 0;
  }

  .map {
    padding: 0 16px;
    margin-bottom: 60px;
    height: 381px;
  }

  .map__heading {
    padding: 0 16px;
    margin: 54px 0 28px 0;
  }
}
