.offers {
  margin-top: 60px;
}
.offers__item {
  padding: 55px 70px 60px 70px;
  background-color: var(--color-light);
  background-repeat: no-repeat;
  background-position: 85% 45%;
  background-size: 37.6% auto;
  min-height: 400px;

  &--invest {
    background-image: url('../../img/piggybank.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/piggybank@2x.jpg');
    }
  }

  &--loan {
    background-image: url('../../img/car.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/car@2x.jpg');
    }
  }

  &--insurance {
    background-image: url('../../img/lock.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/lock@2x.jpg');
    }
  }

  &--online {
    background-image: url('../../img/phone.jpg');

    @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../img/phone@2x.jpg');
    }
  }
}

.offers__moto {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;

  padding-bottom: 30px;
  color: var(--font-color-dark);
}

.offers__moto,
.offers__text {
  width: 40%;
}

.offers__list {
  color: var(--font-color-dark);
  list-style: none;
  padding: 0;
  margin: 0;
}

.offers__list-item {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 14px;
  padding-left: 21px;
  width: 40%;

  &::before {
    position: absolute;
    display: block;
    width: 11px;
    height: 9px;
    content: '';
    top: 5px;
    left: 0;
    background-image: url('../../img/tick.svg');
    background-repeat: no-repeat;
  }

  &:last-child {
    margin-bottom: 38px;
  }
}

.offers__button {
  padding: 8px 30px;
}

.offers__text {
  font-size: 18px;
  line-height: 25px;
}

.offers__link {
  color: var(--font-color-dark);
  font-weight: 500;
}

.offers__tab-button {
  position: relative;
  flex: 1 0 auto;
  max-width: 25%;
  padding: 36px 80px 36px 135px;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background-repeat: no-repeat;
  background-position: 38% 50%;

  &--invest {
    background-image: url('../../img/invest.svg');
  }

  &--loan {
    background-image: url('../../img/loan.svg');
  }

  &--insurance {
    background-position: 35% 50%;
    background-image: url('../../img/insurance.svg');
  }

  &--online {
    background-position: 34% 50%;
    background-image: url('../../img/online.svg');
  }

  &:active,
  &:focus,
  &:hover,
  &[data-selected] {
    background-color: var(--color-light);
    border-bottom: none;
  }
}

[data-reach-tab] {
  border-bottom: none;
}

@media only screen and (max-width: 1023px) {
  .offers {
    background-color: var(--color-light);
    margin-top: 0;
  }
  .offers__item {
    padding: 55px 0 60px 0;
    background-position: 100% 53%;

    &--invest {
      background-image: url('../../img/piggybank-tablet.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/piggybank-tablet@2x.jpg');
      }
    }

    &--loan {
      background-image: url('../../img/car-tablet.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/car-tablet@2x.jpg');
      }
    }

    &--insurance {
      background-image: url('../../img/lock-tablet.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/lock-tablet@2x.jpg');
      }
    }

    &--online {
      background-image: url('../../img/phone-tablet.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/phone-tablet@2x.jpg');
      }
    }
  }

  .offers__moto {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 25px;
  }

  .offers__text {
    font-size: 16px;
    line-height: 21px;
  }

  .offers__moto,
  .offers__text {
    width: 50%;
  }

  .offers__list-item {
    width: 60%;
    font-size: 16px;
    line-height: 21px;

    &:last-child {
      margin-bottom: 33px;
    }
  }

  .ft-slick__dots--custom {
    background: var(--blue-dark);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .slick-active .ft-slick__dots--custom {
    &:active,
    &:focus,
    &:hover {
      background-color: #e0e0e0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .offers__item {
    padding: 55px 15px;
    background-size: 27.19% auto;
    background-position: 100% 33%;

    &--invest {
      background-image: url('../../img/piggybank-mobile.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/piggybank-mobile@2x.jpg');
      }
    }

    &--loan {
      background-image: url('../../img/car-mobile.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/car-mobile@2x.jpg');
      }
    }

    &--insurance {
      background-image: url('../../img/lock-mobile.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/lock-mobile@2x.jpg');
      }
    }

    &--online {
      background-image: url('../../img/phone-mobile.jpg');

      @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        background-image: url('../../img/phone-mobile@2x.jpg');
      }
    }
  }

  .offers__moto {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
    width: 100%;
  }

  .offers__text {
    font-size: 14px;
    line-height: 18px;
    width: 80%;
  }

  .offers__button {
    font-size: 14px;
    line-height: 16px;
    padding: 13px 30px;
    width: 100%;
  }

  .offers__list-item {
    width: 80%;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 27px;
    }
  }
}
